#
# The MySQL database server configuration file.
# 
# One can use all long options that the program supports.
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html

[mysqld]

##
# Basic Settings
##

user                           = mysql
pid-file                       = /var/run/mysqld/mysqld.pid
socket                         = /var/run/mysqld/mysqld.sock

bind-address                   = 0.0.0.0
port                           = 3306

basedir                        = /usr
datadir                        = /mount/database
tmpdir                         = /tmp
lc-messages-dir                = /usr/share/mysql


# Error log

log_error                      = /mount/log/error.log
log_warnings                   = 2


# Slow query log

slow_query_log                 = 1
slow_query_log_file            = /mount/log/mysql-slow.log
log_queries_not_using_indexes  = 1
long_query_time                = 2
min_examined_row_limit         = 100


##
# Fine Tuning
##

max_allowed_packet             = 16M
thread_cache_size              = 8


# Query Cache Configuration

query_cache_type               = 1
query_cache_size               = 16M


# MyISAM variables

key_buffer_size                = 8M
myisam_recover                 = BACKUP


# Memory variables

max_heap_table_size            = 32M


# InnoDB variables

innodb_buffer_pool_size        = 128M
innodb_file_per_table          = 1
innodb_flush_log_at_trx_commit = 2
innodb_log_buffer_size         = 8M
innodb_log_file_size           = 256M


# Binary logging and replication

#server-id                      = <id>
#log_bin                        = /mount/log/mmysql-bin.log
#binlog_cache_size              = 1M
#binlog_stmt_cache_size         = 1M
#max_binlog_size                = 128M
#sync_binlog                    = 0
#expire_logs_days               = 5
#binlog_format                  = ROW
#binlog_row_image               = MINIMAL

[mysqldump]
quick
quote-names
max_allowed_packet	            = 16M
